body{
    font-family: 'Inria Sans', sans-serif;
    background-color: rgb(243, 239, 242);
}
body h1{
    color: #ffffff;
    margin-right: auto;
}

a{
    text-decoration: none;
}
/* INICIO - CSS DO main */

.img-carousel{
    object-fit: cover;
    object-position: 0 30%;
    height: 600px;
}


/* INICIO - CSS DO FOOTER */

    footer{
        font-size: 80%;
        background-color: rgb(8, 121, 250);
    }

    footer h4{
        font-size: 1.4rem;
        font-weight: bold;
        color: whitesmoke;
    }

    .section-redes-socias{
        border-right: 1.5px solid rgb(24, 39, 82);
        margin-right: 5em;
        padding-right: 10em ;
    }
    .section-redes-socias ul li{
        display: flex;
        align-items: center;
        color: whitesmoke;
    }
    .section-redes-socias ul a{
        margin: 1em auto;
        display: flex;
        align-items: center;
        color: whitesmoke;
    }

    .section-redes-socias ul li img {
        width: 30px;
        margin-right: 1em;
    }

    footer .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-mapa{
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .section-mapa h4{
        margin-bottom: 1em;
    }

    /* FIM - CSS DO FOOTER */



    /* AQUI COMEÇA A PARTE MOBILE */

    @media(max-width: 1024px){
        .menu{
            flex-direction: column;
        }
    
        .cabecalho-principal, .container{
            flex-direction: column;
            align-items: initial;
            text-align: center;
        }
    
        .tipo-usuario-aluno{
            width: 100%;
        }
    
        .menu-usuario{
            flex-direction: column;
        }
    
        .caixa-aluno, .caixa-professor{
            margin: 20px;
        }
        
        .cabecalho-principal .container{
            flex-direction: column;
        }
        
        .menu-cabecalho{
            flex-direction: column;
            text-align: center;
        }
        
        footer .container{
            flex-direction: column;
        }

        .section-quem-somos p{
            text-align: justify;
            margin: auto;
        }
    }