body{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(243, 239, 239);
}

a{
    text-decoration: none;
}

.cabecalho-principal, footer{
    background-color: rgb(36, 57, 115);
    padding: 20px;
    box-shadow: 1px 4px rgb(11, 29, 78);
}

.cabecalho-principal h1{
    font-size: 3rem;
    color: rgb(243, 239, 239);
}

.container{
    width: 80%;
    margin: 0px auto;
    display: flex;
}

.cabecalho-principal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

    /* CSS DO MENU */

.menu-cabecalho{
    display: flex;
    width: 310px;
    justify-content: space-around;
}

.nav-link{
    color: rgb(243, 239, 239);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    border: 1px solid;
    transition: .2s;
}

.nav-link:hover{
    color: rgb(236, 138, 45);
    font-size: 20px;
    font-weight: bold;
    background-color: orange;
    border: 1px solid rgb(236, 138, 45);
    text-decoration: none;
}

    /* FIM DO CSS DO MENU */


	/* CSS DA CAIXA DE PESQUISA */
	
#divBusca{
    display: flex;
    background-color:rgb(180, 196, 241);
    border:solid 2px rgb(70, 115, 240);
    border-radius:10px;
    width:298px;
    height:32px;
  }
   
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px; 
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
   
  #btnBusca{
    color: rgb(234, 238, 248);
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:rgb(54, 95, 209);
    transition: .5s;
  }

  #btnBusca:hover{
      background-color: rgb(236, 138, 45);
  }
   
  #divBusca img{
    float:left;
  }

    /* FIM - CSS DA CAIXA DE PESQUISA */

	/* CSS DO PORTIFOLIO */

	main .container-portifolio, .container-quem-somos, .container-clientes{
		width: 80%;
		margin: 0px auto;
	}

	.container-portifolio, .container-quem-somos, .container-clientes{
		text-align: center;
	}

	.section-portifolio, .section-quem-somos, .section-clientes{
		margin: 2rem auto;
	}

	.section-portifolio h2, .section-quem-somos h3, .section-clientes h4{
        color: rgb(236, 138, 45);
        font-size: 2rem;
        width: 50%;
        border-bottom: 3px solid rgb(11, 29, 78);
        padding-bottom: 2rem;
		margin: 1rem auto;
		font-weight: bold;
	}

	.section-portifolio ul, .container-clientes ul{
        display: flex;
        margin: 0rem 10rem 0rem 10rem;
        justify-content: center;
        border: 2px solid rgb(216, 215, 215);
        border-radius: 40px;
        box-shadow: 1px 4px rgb(151, 149, 149);
	}

	.section-portifolio ul li, .section-clientes ul li{
        padding: 2rem 1rem 2rem 0rem;
	}

    /* FIM - CSS DO PORTIFOLIO */
    
    /* INICIO - CSS DO QUEM SOMOS */

    .section-quem-somos p{
        text-align: justify;
        margin: 0rem 10rem;
    }

    /* FIM - CSS DO QUEM SOMOS */

    /* INICIO - CSS DO FOOTER */

    footer{
        font-size: 80%;
    }

    footer h4{
        font-size: 1.4rem;
        font-weight: bold;
        color: whitesmoke;
    }

    .section-redes-socias{
        border-right: 1.5px solid rgb(24, 39, 82);
        margin-right: 5em;
        padding-right: 20em ;
    }
    .section-redes-socias ul a{
        margin: 2em auto;
        display: flex;
        align-items: center;
        color: whitesmoke;
    }

    .section-redes-socias ul li img {
        width: 30px;
        margin-right: 1em;
    }

    footer .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-mapa{
        text-align: center;
    }

    .section-mapa h4{
        margin-bottom: 1em;
    }

    /* FIM - CSS DO FOOTER */


    /* INICIO - PAGINA - CONTATOS */

    .container-contatos{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    .container-contatos .section-redes-socias-contatos ul a{
        color: black;
    }

    .section-redes-socias-contatos ul a{
        margin: 2em auto;
        display: flex;
        align-items: center;
        color: whitesmoke;
    }

    .section-redes-socias-contatos ul li img {
        width: 30px;
        margin-right: 1em;
    }



    /* AQUI COMEÇA A PARTE MOBILE */

    @media(max-width: 1024px){
        .menu{
            flex-direction: column;
        }
    
        .cabecalho-principal, .container{
            flex-direction: column;
            align-items: initial;
            text-align: center;
        }
    
        .tipo-usuario-aluno{
            width: 100%;
        }
    
        .menu-usuario{
            flex-direction: column;
        }
    
        .caixa-aluno, .caixa-professor{
            margin: 20px;
        }
        
        .cabecalho-principal .container{
            flex-direction: column;
        }
        
        .menu-cabecalho{
            flex-direction: column;
            text-align: center;
        }
        
        footer .container{
            flex-direction: column;
        }

        .section-quem-somos p{
            text-align: justify;
            margin: auto;
        }
    }