body{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(243, 239, 239);
}
body h1{
    color: #ffffff;
    margin-right: auto;
}

a{
    text-decoration: none;
}

li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    background-color: rgb(4, 4, 61);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

ul li{
    display: inline-block;
    padding: 0px 1rem;
}

ul li a{
    transition: all 0.3s ease 0s;
}

ul li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(236, 138, 45, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover{
    background-color: rgba(236, 138, 45, 0.8);   
}

	/* CSS DO PORTIFOLIO */

	main .container-portifolio, .container-quem-somos, .container-clientes{
		width: 80%;
		margin: 0px auto;
	}

	.container-portifolio, .container-quem-somos, .container-clientes{
		text-align: center;
	}

	.section-portifolio, .section-quem-somos, .section-clientes{
		margin: 2rem auto;
	}

	.section-portifolio h2, .section-quem-somos h3, .section-clientes h4{
        color: rgb(236, 138, 45);
        font-size: 2rem;
        width: 50%;
        border-bottom: 3px solid rgb(11, 29, 78);
        padding-bottom: 2rem;
		margin: 1rem auto;
		font-weight: bold;
	}

	.section-portifolio ul, .container-clientes ul{
        display: flex;
        margin: 0rem 10rem 0rem 10rem;
        justify-content: center;
        border: 2px solid rgb(216, 215, 215);
        border-radius: 40px;
        box-shadow: 1px 4px rgb(151, 149, 149);
	}

	.section-portifolio ul li, .section-clientes ul li{
        padding: 2rem 1rem 2rem 0rem;
	}

    /* FIM - CSS DO PORTIFOLIO */
    
    /* INICIO - CSS DO QUEM SOMOS */

    .section-quem-somos p{
        text-align: justify;
        margin: 0rem 10rem;
    }

    /* FIM - CSS DO QUEM SOMOS */

    /* INICIO - CSS DO FOOTER */

    footer{
        font-size: 80%;
        background-color: rgb(4, 4, 61);
    }

    footer h4{
        font-size: 1.4rem;
        font-weight: bold;
        color: whitesmoke;
    }

    .section-redes-socias{
        border-right: 1.5px solid rgb(24, 39, 82);
        margin-right: 5em;
        padding-right: 20em ;
    }
    .section-redes-socias ul li{
        display: flex;
        align-items: center;
        color: whitesmoke;
    }
    .section-redes-socias ul a{
        margin: 1em auto;
        display: flex;
        align-items: center;
        color: whitesmoke;
    }

    .section-redes-socias ul li img {
        width: 30px;
        margin-right: 1em;
    }

    footer .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-mapa{
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .section-mapa h4{
        margin-bottom: 1em;
    }

    /* FIM - CSS DO FOOTER */



    /* AQUI COMEÇA A PARTE MOBILE */

    @media(max-width: 1024px){
        .menu{
            flex-direction: column;
        }
    
        .cabecalho-principal, .container{
            flex-direction: column;
            align-items: initial;
            text-align: center;
        }
    
        .tipo-usuario-aluno{
            width: 100%;
        }
    
        .menu-usuario{
            flex-direction: column;
        }
    
        .caixa-aluno, .caixa-professor{
            margin: 20px;
        }
        
        .cabecalho-principal .container{
            flex-direction: column;
        }
        
        .menu-cabecalho{
            flex-direction: column;
            text-align: center;
        }
        
        footer .container{
            flex-direction: column;
        }

        .section-quem-somos p{
            text-align: justify;
            margin: auto;
        }
    }