/* TOPO DA PAGINA */
body{
    font-family: 'Inria Sans', sans-serif;
    background-color: rgb(243, 239, 242);
}
body h1{
    color: #ffffff;
    margin-right: auto;
}

a{
    text-decoration: none;
}

.navbar-brand{
    margin: 0px 0px 0px 50px;
}

#logo{
    width: 70px;
}

li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

ul li{
    display: inline-block;
    padding: 0px 1rem;
}

ul li a{
    transition: all 0.3s ease 0s;
}

ul li a:hover{
    color: #0088a9;
}



/* TOPO DA PAGINA */

main .container-pg-contatos{
    display: flex;
    width: 90%;
    margin: 120px auto;
}

.section-redes-socias{
    text-align: center;
    width: 50%;
}

.section-redes-socias h4, .section-forms h4{
    margin: 1rem auto;
    font-weight: bold;
}

.section-redes-socias ul li{
    display: flex;
    text-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
}
.section-redes-socias ul a{
    margin: 1em auto;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
}

.section-redes-socias ul li img {
    width: 30px;
    margin-right: 1em;
}

footer{
    font-size: 80%;
    background-color: rgb(8, 121, 250);
}

/* Css Forms */

.grupo:before, .grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFC;
}

.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}



.botao:hover {
    background: #FB0;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select, label.checkbox {
    cursor: pointer;
}